*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}
button{
    padding: 1rem;
    border: none;
    color: white;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
#btn1{
    background-color:rgb(31, 114, 31);
}
#btn2{
    background-color: rgb(40, 73, 107);
}
#btn3{
    background-color: red;
}
#btn1:active{
    background-color:rgb(49, 148, 49);
}
#btn2:active{
    background-color: rgb(42, 98, 153);
}
#btn3:active{
    background-color: rgb(242, 129, 129);
}